html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Cinzel', serif;
    font-size: 30px;
    color: cadetblue;
    background: radial-gradient(circle, rgb(179, 218, 131) 0%, rgb(196, 219, 245) 100%);
}

.numColor {
    color: rgb(49, 37, 37);
    font-size: larger;
}

.result{
    text-decoration: underline;
}

.textbox {
    border: none;
    border-radius: 8px;
    font-size: large;
    padding: 10px;
    outline: none;
}

.container>div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container>div div {
    margin-bottom: 15px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
    height: 100vh;
}